<%- include("header") -%>
    <div class="box" id="heading">
        <h1> <%= listtitle %> </h1>
    </div>
    
    <div class="box">
        
        <% newlistitems.forEach(function (item) { %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" >
                    <p> <%= item.name %></p>
                    <button type="submit" id="delete" name="deletebtn" value="<%=item._id %>" onChange="this.form.submit()" >
                        <i class="material-icons">delete</i>
                    </button>
                </div>
                <input type="hidden" name="listname" value="<%= listtitle %>"></input>
            </form>
            
        
            
            <%}); %>
            


        <form class="item" action="/" method="post">
            <input type="text" name="newitem" placeholder="Add new item" autocomplete="off">
            <button type="submit" name="list" value= <%= listtitle %>>+</button>
        </form>
        
    </div>

    <%- include("footer") -%>
    
